{% extends 'main.html' %}

{% block content %}

<div class="max-w-7xl mx-auto">
    <div class="text-center">
        <h2 class="text-3xl text-primary  font-semibold tracking-wide uppercase">About Us</h2>
        <div class="flex justify-center">
            <div class="w-11/12 md:w-9/12 mt-2 md:mt-5 text-justify">
                <p class="text-justify">
                    We provide a full range of immigration services for individuals, families and entrepreneurs. When it
                    comes to Canadian Immigration KSA is on top of current trends and changes and provides comprehensive
                    information to people with Canadian immigration and citizenship questions or concerns.
                    
                    <p>
                    KSA Immigration Consulting Services Ltd. was established in Canada by Samusideen Kazeem with the
                    main objective of providing superior Canadian Immigration consultancy services to migrants from all
                    parts of the world.
                    </p>
                </p>
            </div>
        </div>
    </div>
</div>

{%include 'components/contact_us.html'%}


{% endblock %}