{% load static %}
<!-- component -->
<!-- This is an example component -->
<div class="max-w-7xl mx-auto">

    <footer class="p-4 bg-white sm:p-6 dark:bg-gray-800">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">

                <a href="/">
                    <img class="h-12 w-12 lg:h-14 lg:w-14" src="{% static "frontend/images/vip_consulting_logo.png" %}"
                        alt="vip consulting logo" />
                </a>
            </div>
            <!-- <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3 justify-items-end auto-cols-min"> -->
            <div class="flex flex-wrap gap-10 sm:gap-6 lg:gap-14">
                <div class="w-2/4 lg:w-max">
                    <h3 class=" mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Our Hours</h3>
                    <ul>
                        <li class="mb-4">
                            <p class="text-gray-600  dark:text-gray-400">9:00 AM - 6:00 PM</p>
                        </li>
                        <li>
                            <p class="text-gray-600 dark:text-gray-400">Monday - Friday</p>
                        </li>
                    </ul>
                </div>
                <div class="w-2/4 lg:w-max">
                    <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Follow us</h3>
                    <ul>
                        <li class="mb-4">
                            <a href="https://github.com/themesberg/flowbite" target="_blank"
                                class="text-gray-600 hover:underline dark:text-gray-400">Facebook</a>
                        </li>
                        <li class="mb-4">
                            <a href="https://discord.gg/4eeurUVvTy" target="_blank"
                                class="text-gray-600 hover:underline dark:text-gray-400">Instagram</a>
                        </li>
                        <li>
                            <a href="https://discord.gg/4eeurUVvTy" target="_blank"
                                class="text-gray-600 hover:underline dark:text-gray-400">Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="sm:w-full lg:w-max">
                    <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Contact Us</h3>
                    <ul>
                        <li class="mb-4">
                            <p class="text-gray-600 hover:underline dark:text-gray-400">Phone: +237 670-000-000</p>
                        </li>
                        <li>
                            <a href="mailto:vipconsultacycameroon@gmail.com" target="_blank"
                                class="text-gray-600 hover:underline dark:text-gray-400">Email:
                                vipconsultacycameroon@gmail.com
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <!-- <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://flowbite.com"
                    target="_blank" class="hover:underline">vip consultancy cameroon</a>. All Rights Reserved.
            </span> -->
            <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
                <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="lni lni-facebook-filled"></i>
                </a>
                <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="lni lni-instagram-original"></i>
                </a>
                <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="lni lni-twitter-original"></i>
                </a>
                
            </div>
        </div>
    </footer>
</div>